@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: local('Inter');
  src: url('../assets/fonts/inter-v13-cyrillic_cyrillic-ext_latin_latin-ext-regular.woff2')
    format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Inter');
  src: url('../assets/fonts/inter-v13-cyrillic_cyrillic-ext_latin_latin-ext-700.woff2')
    format('woff2');
}
