:root {
  --t: 10px;
  --p: 12px;
  --h3: 16px;
  --h2: 20px;
  --h1: 40px;
  --neutral-00: #ffffff;
  --neutral-10: #e5e7eb;
  --neutral-70: #595d62;
  --neutral-90: #111928;
  --text-00: #ffffff;
  --text-90: #111928;
  --2xs: 4px;
  --xs: 8px;
  --s: 16px;
  --m: 24px;
  --l: 32px;
  --xl: 40px;
  --2xl: 56px;
  --3xl: 80px;
  --max-w-xs: 874px;
  --min-w-xl: 875px;
  --min-w-info: 59px;
  --min-w-lang-ru: 95px;
  --min-w-lang-en: 62px;
  --min-w-app-xs: 325px;
  --max-w-app-xs: 325px;
  --w-app-xl: 794px;
  --h-app-xl: 1122px;
  --w-left-xl: 325px;
}
